In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
data=pd.read_csv(r"C:\Users\AYESHA SIDDIQUA\Downloads\House_price.csv")

In [3]:
data

,Avg. Area Income,House Age,Number of Rooms,Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05
...,...,...,...,...,...,...
4543,84556.63627,5.092459,6.723412,2.42,31797.31744,1.326847e+06
4544,82732.98111,5.332712,6.198476,3.49,41136.52722,1.252664e+06
4545,65694.05127,6.436741,6.704929,3.14,43406.71203,1.359763e+06
4546,76061.35071,7.148713,7.546066,6.30,40876.96459,1.778013e+06
4547,66935.47508,6.376390,8.513826,5.47,17573.61710,1.109059e+06

In [4]:
X = data.drop('Price', axis=1)
y = data['Price']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
model = LinearRegression()

In [7]:
model.fit(X_train, y_train)

LinearRegression()

In [8]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [9]:
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 10450595737.122646
R-squared: 0.9086390843030919